*{
    box-sizing: border-box;
}

body{
    background-color: #274471;
    font-family: sans-serif;
}

.container{
    width: 400px;
    background-color: rgb(243,243,243);
    border-radius: 6px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

#contactForm{
    padding: 25px;
}

.inputs{
    width: 100%;
    padding: 10px 16px;
    margin: 8px 0;
    border-radius: 5px;
    border: 0;
}

.inputs:hover{
    background-color: pink;
}

input[type=submit]
{
    background-color: #1ac0f3;
    padding: 14px 20px;
    cursor: pointer;
    color: white;
    width: 100%;
}

h1{
    font-weight: lighter;
    margin-bottom: 15px;

}

textarea{
    resize: none;
}