/* Fill in all the CSS rules. All the selectors you need are listed */

/* CSS reset */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Body  */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
}

.card {
    border-radius: 20px;
    box-shadow: 8px 8px 8px 8px gray;
    width: 350px;
    margin: 10px;
    display: inline-block;
    vertical-align:top;
}

.card:hover{
    box-shadow: 8px 8px 8px 8px rgb(146, 149, 194);
}

img {
    border-radius: 20px 20px 0 0;
    height: 264px;
    width: 350px;
    margin: 15;
}

.card-text {
    height: 240px;
    padding: 0 15px 15px 15px;
}

.category {
    font-size: 12px;
    color: blue;
    margin-bottom: 0;
    margin-top: 14px;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    text-transform: capitalize;
    margin-top: 7px;
    margin-bottom: 10px;
}

p {
    color: rgb(83, 75, 75);
    font-size: 16px;
    font-weight: lighter;
}
